## **VERİ BİLİMİ İÇİN İSTATİSTİK GİRİŞ**

> İstatistik doğru bir şekilde veri toplama ve verileri bilgiye dönüştürme bilimidir. İstatistik, verilerden öğrenebilmeyi, gözlemleri bilgiye dönüştürmeyi sağlar. Böylece, istatistiksel teknikler, belirsizliklerin varolduğu bir dünyada, bu belirsizlikleri temelde olasılık kavramı aracılığı ile kontrol altında tutar ve gözlemleri bilime dayalı bilgi ve yorum verir hale getirir.

* **Örnek Teorisi**
* **Betimsel İstatistikler**
* **Güven Aralıkları**
* **Olasılık Dağılımları**
* **Hipotez Testleri**
* **Varyans Analizi**
* **Korelasyon Analizi**

## **ÖRNEK TEORİSİ**

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,500,10000)

In [3]:
populasyon[0:10]

array([369, 455, 384, 286, 497, 398, 431, 112,  57, 423])

> **np.random.seed nedir ?**
* random fonksiyonu çalışırken sistem saatini kullanır ve bu sürekli değişken bir değerdir. bize rastgelelik sağlar.Bu blokları çalıştırıp yorum yapacağımızdan dolayı her çalıştırdığımızda değerlerin değişmesini istemediğimiz için sistem saati yerine sabit bir sayı veriyoruz.Bu sayede her çalıştırdığımızda aynı değerleri alıyoruz.
* Mesela random.seed(35) seçtik diyelim. Bunu yaparken şunu demiş oluyoruz. Ben birazdan rastgele bir seçim yapacağım ama daha sonra aynı sayıları tekrar kullanmak istiyorum. Ben ne zaman seed(35) dersem bunu dedikten sonraki seçim işleminde bana o aynı sayıları getir. Bir nevi sayılar kaybolmasın diye kendi belirlediğimiz bir kutunun içine o sayıları koyuyoruz gibi düşünülebilir.

In [4]:
# Örneklem Çekimi
np.random.seed(21)
orneklem = np.random.choice(a = populasyon,size = 100)
orneklem[0:20]

array([488, 172,  12, 303, 113, 467, 221, 465,  19, 408, 468, 137, 305,
       318, 270, 351,  57, 424, 230,  98])

In [5]:
orneklem.mean()

244.58

In [6]:
populasyon.mean()

250.0586

**Özetleyecek olursak, örneklemler popülasyonların alt kümeleridir. Bir örneklemin ortalamasını aldığımızda popülasyonun ortalamasına yakın olduğunu görürüz.Aynı popülasyonun farklı 2 örneklemin ortalamaları farklı çıkabilir. Bu popülasyondan alınan değerlere göre değişir.Sonuç olarak biz örneklemin ortalamasına bakarak popüslasyon dediğimiz ana verinin ortalaması üzerine yorum yapabiliriz.**

## **BETİMSEL İSTATİSTİKLER**

* Ortalama
* Medyan
* Mod
* Kartiller
* Değişim Aralığı
* Standart Sapma
* Varyans
* Çarpıklık
* Basıklık
* Kovaryans
* Korelasyon

In [11]:
# DİKKAT !!! Betimsel istatistiklerden bahsederken jupyter notebook ortamı gereği formülleri burada değil github veri görselleştirme klasöründe paylaşacağım.

<span style='color:red'>MERKEZİ EĞİLİM ÖLÇÜLERİ</span>

**ARİTMETİK ORTALAMA**<br>
Bir seride yer alan tüm değerlerin toplanması ve birim sayısına bölünmesi ile elde edilen istatistiktir.

**MEDYAN**<br>
Bir veri setini büyükten küçüğe veya küçükten büyüğe sıralandığımızda tam orta noktadan veri setini iki eşit parçaya ayıran değere **medyan** denir<br>
* Basit seriler için, (n+1)/2
* Veri setinin hacmi çift sayı ise n/2 ve (n/2)+1

**MOD**<br>
Bir seride/değişkende en çok en çok tekrar eden değere **Mod** adı verilir.

**KARTİLLER**<br>
Küçükten büyüğe sıralanan bir seriyi 4 parçaya ayıran değerlere **Kartiller** denir.<br>
**n=Veri Sayısı olmak üzere, 1.Çeyrek(Q1)** = (n+1)/4 , **3.Çeyrek(Q3)** = (n+1)*3/4 , **Q2(medyan)** = Q3-Q1

<span style='color:red'>MERKEZİ DAĞILIM ÖLÇÜLERİ</span>

**DEĞİŞİM ARALIĞI**<br><br>
**Değişim Aralığı** = Serinin Maksimum değeri - S. Minimum değer

<span style='color:red'>MERKEZİ DAĞILIM ÖLÇÜLERİ</span>

**STANDART SAPMA**<br><br>
Ortalamadan olan sapmaların genel ölçüsüdür.

**VARYANS**<br><br>
Ortalama etrafındaki dağılımın ölçüsüdür.**Standart sapmanın karesidir.**

**ÇARPIKLIK**<br><br>
Bir değişkenin dağılımının simetrik olamayışıdır.<br>
* P.Ç.K < 0 ise ----> **Negatif Çarpık**
* P.Ç.K = 0 ise ----> **Simetrik**
* P.Ç.K > 0 ise ----> **Pozitif Çarpık**

simetrik ---> (medyan=mod=ortalama)

**BASIKLIK**<br><br>
Dağılımın basıklığını/sivriliğini gösterir.<br>
* B.K = 3 ise -----> **Dağılım Standart Normal Dağılıma Uygundur.**
* B.K > 3 ise -----> **Dağılım Sivridir.**
* B.K < 3 ise -----> **Dağılım Basıktır(yayvan).**

**KOVARYANS :** İki değişken arasındaki **ilişkinin değişkenlik** ölçüsüdür.
> **cov(X,Y) = E[(X-E[X])(Y-E[Y])]**

**KORELASYON :** İki değişken arasındaki **ilişkiyi**, ilişkinin anlamlı olup olmadığını, ilişkinin şiddetini ve yönünü ifade eden istatistiksel bir tekniktir.

[Kovaryans&Korelasyon](https://piyasarehberi.org/yatirim/portfoy-yonetimi/139-kovaryans-ve-korelasyon-nedir)

In [30]:
import seaborn as sns
tips = sns.load_dataset("tips")
dataframe = tips.copy()
dataframe.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [31]:
dataframe.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [34]:
dataframe.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [36]:
!pip install researchpy
import researchpy as rp

Requirement already satisfied: researchpy in c:\users\suruc\anaconda3\lib\site-packages (0.3.5)
Requirement already satisfied: numpy in c:\users\suruc\anaconda3\lib\site-packages (from researchpy) (1.21.5)
Requirement already satisfied: statsmodels in c:\users\suruc\anaconda3\lib\site-packages (from researchpy) (0.13.2)
Requirement already satisfied: scipy in c:\users\suruc\anaconda3\lib\site-packages (from researchpy) (1.7.3)
Requirement already satisfied: pandas in c:\users\suruc\anaconda3\lib\site-packages (from researchpy) (1.4.2)
Requirement already satisfied: patsy in c:\users\suruc\anaconda3\lib\site-packages (from researchpy) (0.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\suruc\anaconda3\lib\site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\suruc\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\suruc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in c:\users\suruc\anaconda3\lib\site-packages (from statsmodels->researchpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\suruc\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels->researchpy) (3.0.4)

In [50]:
# sayısal değişkenler için
rp.summary_cont(dataframe[["total_bill","tip","size"]])

# N: Gözlem Sayıları , SD: Standart Sapması , SE: Standart Hatası , Interval: Güven Aralıkları

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [51]:
# PRATİK YOL !!!
rp.summary_cont(dataframe.select_dtypes(include = ["float64", "int64"]))

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [45]:
#kategorik değişkenler için
rp.summary_cat(dataframe[["sex","smoker","day"]])

# percent : yüzdelik

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [53]:
# PRATİK YOL !!!
rp.summary_cat(df.select_dtypes(include = ["category"]))

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79
8     time  Dinner    176    72.13
9            Lunch     68    27.87

**Kovaryans nasıl yorumlanır?**<br>
Değerler şu şekilde yorumlanır:<br> **Pozitif kovaryans :** İki değişkenin aynı yönde hareket etme eğiliminde olduğunu gösterir.<br> **Negatif kovaryans :** İki değişkenin ters yönde hareket etme eğiliminde olduğunu ortaya çıkarır.

In [46]:
dataframe[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

**Korelasyon, bir değişkendeki bir değişikliğin diğerini nasıl etkileyeceğini tanımlar, kovaryans ise iki maddenin birlikte nasıl değiştiğini tanımlar.**

In [47]:
dataframe[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000